<tbody x-data="{opens: []}"  id="color_tbody" class="fade-in bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
  {{range .colorpanelData}}
  <tr @click="opens.includes('{{.PanelNo}}') ? opens.splice(opens.indexOf('{{.PanelNo}}'), 1) : opens.push('{{.PanelNo}}');"
      style="background-color: {{.ExpiredColor}};">

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.PanelNo}}</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.User}}</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.FinishCode}}</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.FinishName}}</p>
      </div>
    </td>
    {{if .Inspections}}
    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{(index .Inspections 0).Date}}</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{(index .Inspections 0).Result}}</p>
      </div>
    </td>
    {{else}}
    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">Chưa kiểm</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">Chưa kiểm</p>
      </div>
    </td>
    {{end}}
    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.Substrate}}</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.Collection}}</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.Brand}}</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.Prepared}}</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.FinishSystem}}</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.Texture}}</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.Thickness}}</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.Sheen}}</p>
      </div>
    </td>

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.Hardness}}</p>
      </div>
    </td>          

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.Review}}</p>
      </div>
    </td>        
    
    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.Approved}}</p>
      </div>
    </td> 

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.ApprovedDate}}</p>
      </div>
    </td> 

    <td class="px-4 py-2 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
      <div>
        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.ExpiredDate}}</p>
      </div>
    </td> 

  </tr>
  
  <tr x-show="opens.includes('{{.PanelNo}}')" x-transition:enter.duration.500ms x-transition:leave.duration.400ms 
      class="p-6">
    <td colspan="6">
      <div class="overflow-x-auto p-6">
        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
          <thead class="text-left ltr:text-left rtl:text-right">
            <tr>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Ngày kiểm</th>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Người kiểm</th>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Delta</th>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Kết quả</th>
            </tr>
          </thead>
      
          <tbody class="divide-y divide-gray-200">
            <tr>
              <td colspan="4" class="whitespace-nowrap px-4 py-2 text-gray-700">{{.NextInspection}}</td>
            </tr>
            {{range .Inspections}}
            <tr>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{.Date}}</td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{.Inspector}}</td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{.Delta}}</td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{.Result}}</td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </td>
  </tr>

 {{end}}
</tbody>