<section id="entry-container" class="fade-in">
  <div class="mx-auto max-w-screen-sm px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-16 gap-y-8">
      <form class="space-y-5" hx-post="/mixingcolor/entry/sendbatchentry" hx-target="#entry-container" hx-swap="outerHTML">
        <div class="mt-4 text-center">
          <button type="submit" class="inline-block rounded-full bg-black px-5 py-3 font-medium text-white sm:w-auto">
            Mixing Batch
          </button>
        </div>

        <!-- <div class="flex justify-center mt-4 text-center">
          <select class="flex text-center justify-center w-1/2 h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"
              name="itemtype" id="itemtype" class="p-3 peer w-full rounded-lg border-gray-300 text-gray-700">
            <option value="" disabled selected>Chọn hàng</option>
            <option value="whole">Hàng đồng bộ</option>
            <option value="wip">Hàng WIP</option>
            <option value="onconvey">Hàng trên truyền</option>
            <option value="waiting">Chưa đồng bộ + Chờ giao</option>
          </select>
        </div> -->

        <!-- <div class="flex items-center justify-center space-x-2">
          <label @click="$refs.switchButton.click(); $refs.switchButton.focus()" :id="$id('switch')" 
              :class="{ 'text-neutral-900': ! switchOn, 'text-gray-400': switchOn }"
              class="font-medium select-none"
              x-cloak>
              Nguyên bộ
          </label>
          <input id="thisId" type="checkbox" name="switch" value="part" class="hidden" :checked="switchOn">
      
          <button 
              x-ref="switchButton"
              type="button" 
              @click="switchOn = ! switchOn"
              :class="switchOn ? 'bg-neutral-900' : 'bg-neutral-200'" 
              class="relative inline-flex h-6 py-0.5 ml-4 rounded-full focus:outline-none w-12"
              x-cloak>
              <span :class="switchOn ? 'translate-x-[25px]' : 'translate-x-0.5'" class="w-5 h-5 duration-200 ease-in-out bg-white rounded-full shadow-md"></span>
          </button>
      
          <label @click="$refs.switchButton.click(); $refs.switchButton.focus()" :id="$id('switch')" 
              :class="{ 'text-neutral-900': switchOn, 'text-gray-400': ! switchOn }"
              class="font-medium select-none"
              x-cloak>
              Chi tiết nhỏ
          </label>
        </div> -->

      
        <!-- <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-2">  
          <div class="text-center">
            <label for="itemcode" class="relative block rounded-md border">
              <input type="text" id="itemcode" name="itemcode" placeholder="VD: M4001"
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Mã sản phẩm</span>
            </label>
          </div>

          <div x-show="switchOn" class="text-center">
            <label for="part" class="relative block rounded-md border">
              <input type="text" id="part" name="part" placeholder="Vd: Top"
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Mô tả bộ phận</span>
            </label>
          </div>
        </div> -->

        <div class="grid grid-cols-2 gap-4 text-center">
          <div class="mt-4 text-center">
            <label for="mixingdate" class="relative block rounded-md border">
              <input type="datetime-local" id="mixingdate" name="mixingdate" placeholder="Mixing Time"
                class="flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Mixing Date<span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="issueddate" class="relative block rounded-md border">
              <input type="date" id="issueddate" name="issueddate" placeholder=""
                class="flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Issued Date<span>
            </label>
          </div>
        </div>

        <div class="grid grid-cols-2 gap-4 text-center">
          <div class="mt-4 text-center">
            <label for="batchno" class="relative block rounded-md border">
              <input type="text" id="batchno" name="batchno" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Batch No.</span>
            </label>
          </div>

          <div class="flex justify-center mt-4 text-center">
            <select class="flex text-center justify-center w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"
                name="code" id="code" class="p-3 peer w-full rounded-lg border-gray-300 text-gray-700">
              <option value="" disabled selected>Select color code</option>
              {{ range .colorpanelData}}
              <option value="{{.Code}}">{{.Code}}</option>
              {{end}}
            </select>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-2">  
          <div class="mt-4 text-center">
            <label for="volume" class="relative block rounded-md border">
              <input type="number" id="volume" name="volume" min="0" step="0.01" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Weight</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="viscosity" class="relative block rounded-md border">
              <input type="number" id="viscosity" name="viscosity" placeholder="" step="0.01"
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Viscosity</span>
            </label>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-2">  
          <div class="mt-4 text-center">
            <label for="lightdark" class="relative block rounded-md border">
              <input type="number" id="lightdark" name="lightdark" placeholder="" step="0.01"
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                L</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="redgreen" class="relative block rounded-md border">
              <input type="number" id="redgreen" name="redgreen" placeholder="" step="0.01"
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                a</span>
            </label>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-2">  
          <div class="mt-4 text-center">
            <label for="yellowblue" class="relative block rounded-md border">
              <input type="number" id="yellowblue" name="yellowblue" placeholder="" step="0.01"
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                b</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="operator" class="relative block rounded-md border">
              <input type="text" id="operator" name="operator" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Mixer</span>
            </label>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-2">  
          <div class="flex justify-center mt-4 text-center">
            <select class="flex text-center justify-center w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"
                name="status" id="status" class="p-3 peer w-full rounded-lg border-gray-300 text-gray-700">
              <option value="" disabled selected>Select status</option>
              <option value="Approved">Approved</option>
              <option value="Rejected">Rejected</option>
              <option value="Pending">Pending</option>
            </select>
          </div>

          <div class="mt-4 text-center">
            <label for="classification" class="relative block rounded-md border">
              <input type="text" id="classification" name="classification" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Classification</span>
            </label>
          </div>
        </div>     

        <div class="mt-4 text-center">
            <label for="sopno" class="relative block rounded-md border">
              <input type="text" id="sopno" name="sopno" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                SOPNo.</span>
            </label>
          </div>

        <div class="mt-4 text-center">
          <button type="submit" class="inline-block rounded-full bg-black px-5 py-3 font-medium text-white sm:w-auto">
            Gửi
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  if ({{.showSuccessDialog}}) {
    swal("Thành công", {{.msgDialog}}, "success")
  }
  if ({{.showMissingDialog}}) {
    swal("Thất bại", {{.msgDialog}}, "error")
  }
  if ({{.showErrDialog}}) {
    swal("Thất bại", {{.msgDialog}}, "error")
  }
</script>