<section id="entry-container" class="fade-in px-4 py-6 mx-auto">
  <div class="max-w-8xl bg-white border rounded-lg shadow-sm p-7 border-neutral-200/60">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div>
          <div class="flex items-center gap-x-3">
            <h2 class="text-lg font-medium text-gray-800 dark:text-white">Nhập liệu Packing</h2>
          </div>
          <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">Tìm kiếm và nhập số lượng hoàn thành.</p>
      </div>

    </div>

    <div x-data="{
        showDropdown:false,
        filter:'item.id',
        filterLabel: 'Mã sản phẩm',
        status:'undone'
    }"
        class="mt-6 md:flex md:items-center md:justify-between">
        
        <div class="inline-flex overflow-hidden bg-white border divide-x rounded-lg dark:bg-gray-900 rtl:flex-row-reverse dark:border-gray-700 dark:divide-gray-700">
            <button @click="status='all'" hx-get="/selections/packing/entry/mo/all" hx-target="#table-container"
                class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200sm:text-sm dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">
                Tất cả
            </button>
    
            <button @click="status='undone'" hx-get="/selections/packing/entry/mo/undone" hx-target="#table-container"
                class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 sm:text-sm dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">
                Chưa hoàn thành
            </button>

            <button @click="status='done'" hx-get="/selections/packing/entry/mo/done" hx-target="#table-container"
                class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 sm:text-sm dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">
                Hoàn Thành
            </button>
        </div>

        <form class="w-full lg:w-1/2">
            <div class="relative w-full flex items-center mt-4 md:mt-0">
                <input type="text" :value="filter" name="searchFilter" hidden>
                <input type="text" :value="status" name="moStatus" hidden>
                <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">filter</label>
                <button x-text="filterLabel" @click="showDropdown=!showDropdown" id="dropdown-button" 
                    class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">
                    
                    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <div x-show="showDropdown" 
                    id="dropdown" class="absolute top-0 mt-12 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                    <li>
                        <button @click="showDropdown=!showDropdown; filter='item.id'; filterLabel='Mã sản phẩm'" type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                            Mã sản phẩm</button>
                    </li>
                    <li>
                        <button @click="showDropdown=!showDropdown; filter='item.name'; filterLabel='Tên sản phẩm'" type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                            Tên sản phẩm</button>
                    </li>
                    <li>
                        <button @click="showDropdown=!showDropdown; filter='mo'; filterLabel='MO'" type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                            MO</button>
                    </li>
                </div>
                <div class="relative w-full">
                    <input hx-post="/selections/packing/entry/mosearch" hx-target="#table-container" hx-trigger="input changed delay:500ms, search"
                        type="search" name="mosearch" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" 
                            placeholder="Search" required />
                    <button class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                </div>
            </div>
        </form>
              
    </div>

    <div class="flex flex-col mt-6">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div id="table-container" class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead class="bg-gray-50 dark:bg-gray-800">
                            <tr>                  
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <button class="flex items-center gap-x-3 focus:outline-none">
                                        <span>Mã</span>

                                        <svg class="h-3" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z" fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                                            <path d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z" fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                                            <path d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z" fill="currentColor" stroke="currentColor" stroke-width="0.3" />
                                        </svg>
                                    </button>
                                </th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                                  Tình Trạng
                                </th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-center rtl:text-right text-gray-500 dark:text-gray-400">
                                  Số lượng
                                </th>

                                <th scope="col" class="whitespace-nowrap px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                  SL sản xuất
                                </th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                  Tên & Finishing Description

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                  PI
                                </th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Giá
                                </th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    Ghi Chú
                                </th>

                            </tr>
                        </thead>
                        <tbody 
                            class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                            {{range .results}}
                            <tr hx-get="/sections/packing/entry/itemparts/{{.Mo}}/{{.Item.Id}}/{{.PI}}" hx-target="#entry-container" 
                                hx-swap="outerHTML" hx-push-url="true"
                              class="hover:bg-neutral-100 cursor-pointer">
            
                                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                    <div>
                                        <h2 class="font-medium text-gray-800 dark:text-white ">{{.Item.Id}}</h2>
                                        <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{.Mo}}</p>
                                    </div>
                                </td>
                                <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">
                                    <div class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                                      {{.Status}}
                                    </div>
                                </td>

                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                  <div class="flex items-center gap-x-2 ">
                                    <span class="text-xs text-gray-500 dark:text-neutral-500">{{.DoneQty}}/{{.NeedQty}}</span>
                                    <div class="w-20 h-1.5 bg-blue-200 overflow-hidden rounded-full">
                                      <div class="bg-blue-500 h-1.5" style="width: {{.DonePercent}}%;"></div>
                                    </div>
                                  </div>
                                </td>

                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items-center">
                                      <h4 class="text-gray-700 dark:text-gray-200">{{.ProductQty}}</h4>
                                    </div>
                                </td>

                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div>
                                        <h4 class="text-gray-700 dark:text-gray-200">{{.Item.Name}}</h4>
                                        <p class="text-gray-500 dark:text-gray-400">{{.FinishDesc}}</p>
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items-center">
                                      <h4 class="text-gray-700 dark:text-gray-200">{{.PI}}</h4>
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items-center">
                                      <h4 class="text-gray-700 dark:text-gray-200">{{.Price}}</h4>
                                    </div>
                                </td>
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items-center">
                                      <h4 class="text-gray-700 dark:text-gray-200">{{.Note}}</h4>
                                    </div>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>                  
                </div>          
            </div>           
        </div>

        <div x-data="{curpage:1}" class="mt-6 sm:flex sm:items-center sm:justify-between ">
          <div class="text-sm text-gray-500 dark:text-gray-400">
            Page 
            <span id="curpage" x-text="curpage" class="font-medium text-gray-700 dark:text-gray-100"></span>
            of 
            <span id="maxpage" class="font-medium text-gray-700 dark:text-gray-100">{{.maxpage}}</span>
          </div>
      
          <div class="flex items-center mt-4 gap-x-4 sm:mt-0">
              <a
                  class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800"           
              >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                  </svg>
      
                  <span>
                      previous
                  </span>
              </a>
      
              <button         
              id="nextbtn"  class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
                  <span>
                      Next
                  </span>
      
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                  </svg>
              </button>
          </div>
        </div>
    </div>
  </div>
</section>

