<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/alpine.3.13.10.min.js"></script>
  <script src="/static/js/d3.v7.js"></script>
  <title>Document</title>
</head>
<body>
  {{ template "navbar" }}
  
<section>
  <div class="py-4">
      <div class="mx-2 max-w-full text-gray-500">
          <div class="relative">
              <div class="relative z-10 grid gap-3 grid-cols-6">
                  
                  <div class="col-span-full lg:col-span-3 overflow-hidden flex relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
                    {{template "cuttingchart" .}}
                  </div>

                  <!-- <div class="col-span-full lg:col-span-3 overflow-hidden flex relative p-2 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
                    {{template "provalcht" .}}
                  </div> -->
                  <!-- <div class="col-span-full sm:col-span-3 lg:col-span-2 overflow-hidden relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
     
                  </div>
                  <div class="col-span-full sm:col-span-3 lg:col-span-2 overflow-hidden relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
                   
                  </div>
                  <div class="col-span-full lg:col-span-3 overflow-hidden relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
     
                  </div>
                  <div class="col-span-full lg:col-span-3 overflow-hidden relative p-8 rounded-xl bg-white border border-gray-200 dark:border-gray-800 dark:bg-gray-900">
        
                  </div>              -->
              </div>
          </div>
      </div>
  </div>
</section>
</body>
</html>