{{define "productionchart"}}
<div id="productionchart" style="width: 100%; max-width: 1200px; margin: 0 auto"></div>

<script src="/static/js/charts/productionchart.js"></script>
<script>

const t = {
  "name": "production",
  "children": [
    {
      "name": "14-06-2024",
      "children": [
        {
          "name": "xuong 1",
          "children": [
            {
              "name": "TEA01",
              "value": 350000,
            },
            {
              "name": "TEA02",
              "value": 200000,
            },
          ]
        },
        {
          "name": "xuong 2",
          "children": [
            {
              "name": "TEA05",
              "value": 50000,
            },
            {
              "name": "TEA06",
              "value": 100000,
            },
          ]
        },
      ]
    },

  ]
}
productionchart.append(drawProductionChart(t));

const temp = [
  {"date": "01-05-2000", "fac": "xuong 1", "type": "RH", "item": "Tea", "value": 2000},
  {"date": "01-05-2000", "fac": "xuong 1", "type": "RH", "item": "CEA", "value": 1000},
]

</script>
{{end}}