<div class="fade-in" id="timeline-container">
  {{range .timelinedata}}
  <div class="flex gap-x-3">

    <div class="w-16 text-end">
      <span class="text-xs text-gray-500 dark:text-neutral-400">{{.CreatedAt}}</span>
    </div>

    <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
      <div class="relative z-10 size-7 flex justify-center items-center">
        <div class="size-2 rounded-full bg-gray-400 dark:bg-neutral-600"></div>
      </div>
    </div>

    <div class="grow pt-0.5 pb-8">
      <h3 class="flex gap-x-1.5 font-semibold text-gray-800 dark:text-white">
        <svg class="shrink-0 size-4 mt-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"></path>
          <polyline points="14 2 14 8 20 8"></polyline>
          <line x1="16" x2="8" y1="13" y2="13"></line>
          <line x1="16" x2="8" y1="17" y2="17"></line>
          <line x1="10" x2="8" y1="9" y2="9"></line>
        </svg>
        {{if eq .Qty 0.0}} 
          {{.Title}} {{.Code}}
        {{else}}
          {{.Title}} {{.Code}} (Số lượng: {{.Qty}})
        {{end}}
      </h3>
      <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
        {{.Note}}
      </p>
      <p class="mt-1 -ms-1 p-1 text-xs text-gray-500 dark:text-neutral-400">
        {{.Reporter}}
      </p>
    </div>

  </div>
  {{end}}
</div>