<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/alpine.3.13.10.min.js"></script>
  <script src="/static/js/htmx.min.js"></script>
  <title>Score</title>
</head>
<body>
  <section class="w-full px-6 pb-12 antialiased bg-white">
    <div class="mx-auto max-w-7xl">

      {{template "navbar"}}

        <!-- Main Hero Content -->
        <div class="container max-w-md py-32 mx-auto sm:mx-4 mt-px text-left sm:max-w-md md:max-w-lg sm:px-4 md:text-center">
          <div class="container w-full py-4 max-w-xs mx-auto">
            <input hx-post="/character/score/search" hx-target="#search_results" hx-trigger="input changed delay:1s, search"
              name="search" type="text" placeholder="Nhập mã số hoặc tên nhân viên cần chấm điểm" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md border-neutral-300 ring-offset-background placeholder:text-neutral-500 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50" />
          </div>

          <div id="search_results" class="overflow-x-auto"></div>

        </div>

        <!-- End Main Hero Content -->

    </div>
</section>
</body>
</html>

