<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/alpinejs_focus.min.js"></script>
  <script defer src="/static/js/alpine.3.13.10.min.js"></script>
  <script src="/static/js/htmx.min.js"></script>
  <title>Packing Overview</title>
</head>
<body class="bg-gray-100">
  {{template "navbar"}}
  <div hx-get="/test/loadmain" hx-target="this" hx-swap="outerHTML settle:100ms" hx-trigger="load"></div>
</body>
</html>

<style>
  #fade-me-in.htmx-added {
    opacity: 0;
  }
  #fade-me-in {
    opacity: 1;
    transition: opacity 1s ease-out;
  }
</style>
