<section id="entry-container" class="fade-in">
  <div class="mx-auto max-w-screen-full px-4 py-2 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-16 gap-y-8">
      <form class="space-y-4" hx-post="/colormixing/admin/sendbatchentry" hx-target="#entry-container" hx-swap="outerHTML">
        <div class="mt-4 text-center">
          <button 
              type="submit" class="inline-block rounded-full bg-black px-5 py-3 font-medium text-white sm:w-auto">
            Send</button>
        </div>

        <div class="grid grid-cols-1 gap-2 text-center sm:grid-cols-4">

          <!-- <div class="mt-4 text-center">
            <label for="mixingdate" class="relative block rounded-md border">
              <input type="datetime-local" id="mixingdate" name="mixingdate" placeholder="Mixing Time"
                class="flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Mixing Date<span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="issueddate" class="relative block rounded-md border">
              <input type="datetime-local" id="issueddate" name="issueddate" placeholder=""
                class="flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Issued Date<span>
            </label>
          </div> -->

          <div class="mt-4 text-center">
            <label for="batchno" class="relative block rounded-md border">
              <input type="text" id="batchno" name="batchno" minlength="12" maxlength="12" placeholder="" 
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Batch No.</span>
            </label>
          </div>

          <!-- <div class="flex justify-center mt-4 text-center">
            <select class="flex text-center justify-center w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"
                name="code" id="code" class="p-3 peer w-full rounded-lg border-gray-300 text-gray-700">
              <option value="" disabled selected>Select color code</option>
              {{ range .colorpanelData}}
              <option value="{{.PanelNo}}">{{.PanelNo}}</option>
              {{end}}
            </select>
          </div> -->

          <div class="mt-4 text-center">
            <label for="code" class="relative block rounded-md border">
              <input type="text" id="code" name="code" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Color Code</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="name" class="relative block rounded-md border">
              <input type="text" id="name" name="name" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Color Name</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="brand" class="relative block rounded-md border">
              <input type="text" id="brand" name="brand" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Brand</span>
            </label>
          </div>

          <!-- <div class="mt-4 text-center">
            <label for="step" class="relative block rounded-md border">
              <input type="text" id="step" name="step" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Step</span>
            </label>
          </div> -->

          <div class="mt-4 text-center">
            <label for="supplier" class="relative block rounded-md border">
              <input type="text" id="supplier" name="supplier" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Supplier</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="volume" class="relative block rounded-md border">
              <input type="number" id="volume" name="volume" min="0" step="0.01" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Weight</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="viscosity" class="relative block rounded-md border">
              <input type="number" id="viscosity" name="viscosity" placeholder="" step="0.01"
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Viscosity</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="nk2" class="relative block rounded-md border">
              <input type="number" id="nk2" name="nk2" placeholder="" step="0.01"
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                NK-2</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="fordcup4" class="relative block rounded-md border">
              <input type="number" id="fordcup4" name="fordcup4" placeholder="" step="0.01"
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                FORDCUP#4</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="lightdark" class="relative block rounded-md border">
              <input type="number" id="lightdark" name="lightdark" placeholder="" step="0.01"
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                L</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="redgreen" class="relative block rounded-md border">
              <input type="number" id="redgreen" name="redgreen" placeholder="" step="0.01"
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                a</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="yellowblue" class="relative block rounded-md border">
              <input type="number" id="yellowblue" name="yellowblue" placeholder="" step="0.01"
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                b</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="operator" class="relative block rounded-md border">
              <input type="text" id="operator" name="operator" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Mixer</span>
            </label>
          </div>

          <!-- <div class="flex justify-center mt-4 text-center">
            <select class="flex text-center justify-center w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"
                name="status" id="status" class="p-3 peer w-full rounded-lg border-gray-300 text-gray-700">
              <option value="" disabled selected>Select status</option>
              <option value="Approved">Approved</option>
              <option value="Rejected">Rejected</option>
              <option value="Pending">Pending</option>
            </select>
          </div> -->

          

          <div class="mt-4 text-center">
            <label for="receiver" class="relative block rounded-md border">
              <input type="text" id="receiver" name="receiver" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Receiver</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="classification" class="relative block rounded-md border">
              <input type="text" id="classification" name="classification" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Classification</span>
            </label>
          </div>

          <div class="mt-4 text-center">
            <label for="sopno" class="relative block rounded-md border">
              <input type="text" id="sopno" name="sopno" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                SOPNo.</span>
            </label>
          </div>

          <!-- <div class="mt-4 text-center">
            <label for="area" class="relative block rounded-md border">
              <input type="text" id="area" name="area" placeholder=""
                class="p-3 peer flex w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"/>
              <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white p-0.5 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-0 peer-focus:text-xs">
                Area</span>
            </label>
          </div> -->
  
          <div class="flex justify-center mt-4 text-center">
            <select class="flex text-center justify-center w-full h-10 px-3 py-2 text-sm bg-white border-2 text-neutral-600 border-neutral-600 ring-offset-background placeholder:text-neutral-400 focus:border-neutral-800 focus:text-neutral-800 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50"
                name="standard" id="standard" class="p-3 peer w-full rounded-lg border-gray-300 text-gray-700">
              <option value="" disabled selected>Select standard</option>
              {{range .standardnames}}
              <option value="{{.}}">{{.}}</option>
              {{end}}
            </select>
          </div>

          <!-- <div class="flex flex-row items-center justify-center space-x-4 p-5">
            <label class="relative flex items-center cursor-pointer">
              <input checked class="sr-only peer" value="Approved" name="status" type="radio" />
              <div class="w-6 h-6 bg-transparent border-2 border-green-500 rounded-full peer-checked:bg-green-500 peer-checked:border-green-500 peer-hover:shadow-lg peer-hover:shadow-green-500/50 peer-checked:shadow-lg peer-checked:shadow-green-500/50 transition duration-300 ease-in-out"></div>
              <span class="ml-2 text-black">Approved</span>
            </label>

            <label class="relative flex items-center cursor-pointer">
              <input class="sr-only peer" value="Rejected" name="status" type="radio"/>
              <div class="w-6 h-6 bg-transparent border-2 border-red-500 rounded-full peer-checked:bg-red-500 peer-checked:border-red-500 peer-hover:shadow-lg peer-hover:shadow-red-500/50 peer-checked:shadow-lg peer-checked:shadow-red-500/50 transition duration-300 ease-in-out"></div>
              <span class="ml-2 text-black">Rejected</span>
            </label>

            <label class="relative flex items-center cursor-pointer">
              <input class="sr-only peer" value="Pending" name="status" type="radio" />
              <div class="w-6 h-6 bg-transparent border-2 border-yellow-500 rounded-full peer-checked:bg-yellow-500 peer-checked:border-yellow-500 peer-hover:shadow-lg peer-hover:shadow-yellow-500/50 peer-checked:shadow-lg peer-checked:shadow-yellow-500/50 transition duration-300 ease-in-out"></div>
              <span class="ml-2 text-black">Pending</span>
            </label>          
          </div> -->

          <div class="flex items-center justify-around mt-2 gap-2">
            <div>
                <label class="flex cursor-pointer items-center justify-center text-sm text-gray-500 peer-checked:text-blue-500">
                  <input checked class="peer sr-only" value="Fac 7" name="area" type="radio"/>
                  <span class="flex h-10 w-24 cursor-pointer flex-col items-center justify-center rounded-xl border-2 border-neutral-600 p-1 transition-transform duration-150 hover:border-blue-400 active:scale-95 peer-checked:border-blue-500 peer-checked:shadow-md peer-checked:shadow-blue-400">
                    Fac 7
                  </span>     
                </label>
            </div>

            <div>
              <label class="flex cursor-pointer items-center justify-center text-sm text-gray-500 peer-checked:text-blue-500">
                <input class="peer sr-only" value="Fac 2" name="area" type="radio"/>
                <span class="flex h-10 w-24 cursor-pointer flex-col items-center justify-center rounded-xl border-2 border-neutral-600 p-1 transition-transform duration-150 hover:border-blue-400 active:scale-95 peer-checked:border-blue-500 peer-checked:shadow-md peer-checked:shadow-blue-400">
                  Fac 2
                </span>     
              </label>
            </div>

            <div>
              <label class="flex cursor-pointer items-center justify-center text-sm text-gray-500 peer-checked:text-blue-500">
                <input class="peer sr-only" value="Sample" name="area" type="radio"/>
                <span class="flex h-10 w-24 cursor-pointer flex-col items-center justify-center rounded-xl border-2 border-neutral-600 p-1 transition-transform duration-150 hover:border-blue-400 active:scale-95 peer-checked:border-blue-500 peer-checked:shadow-md peer-checked:shadow-blue-400">
                  Sample
                </span>     
              </label>
            </div>

          </div>

        </div>

      </form>
    </div>
  </div>
</section>

<script>
  // document.getElementById('mixingdate').value = new Date().toISOString().slice(0, 16);
  // document.getElementById('issueddate').value = new Date().toISOString().slice(0, 16);

  if ({{.showSuccessDialog}}) {
    swal("Thành công", {{.msgDialog}}, "success")
  }
  if ({{.showMissingDialog}}) {
    swal("Thất bại", {{.msgDialog}}, "error")
  }
  if ({{.showErrDialog}}) {
    swal("Thất bại", {{.msgDialog}}, "error")
  }
</script>