<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/alpinejs_focus.min.js"></script>
  <script defer src="/static/js/alpine.3.13.10.min.js"></script>
  <script src="/static/js/htmx.min.js"></script>

  <title>Lamination Overview</title>
</head>
<body>
  {{template "navbar"}}
  
  <section>
    <div class="py-4">
      <div class="mx-2 max-w-full text-gray-500">
        <div class="relative">
          <div class="relative grid gap-3 grid-cols-6">

            <!-- report -->
            <div hx-get="/sections/lamination/overview/loadreport" hx-trigger="load" hx-target="this" hx-swap="outerHTML settle:200ms"></div>         
            <!-- end report -->

          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>

<style>
  .fade-in.htmx-added {
    opacity: 0;
  }
  .fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
  }
</style>