<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <script defer src="/static/js/alpine.3.13.10.min.js"></script>
  <script src="/static/js/d3.v7.js"></script>
  <script type="module" src="/static/js/test/test.js"></script>
  
  <title>Document</title>
</head>
<body>
  {{template "navbar"}}
  <h1>This is Test Page</h1>
  <div id="donut" style="width: 100%; max-width: 1200px; margin: 0 auto;"></div>
  <div id="bars" style="width: 100%; max-width: 1200px; margin: 0 auto"></div>
  <div id="streamgraph" style="width: 100%; max-width: 1200px; margin: 0 auto"></div>
  <div id="legend-container" class="legend-container"></div>
  <div id="container0" style="width: 100%; max-width:1200px; margin: 0 auto"></div>
  <div id="container1" style="width: 100%; max-width:1200px; margin: 0 auto"></div>
  <div id="line_chart" style="width: 100%; max-width:1200px; margin: 0 auto"></div>
  

</body>
</html>

<style>
  .color-legend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 0;
  }
  .color-legend-item {
    margin: 5px 12px;
    font-size: 1.4rem;
  }
  .color-legend span {
    display: inline-block;
  }
  .color-legend-item-color {
    position: relative;
    top: 2px;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    border-radius: 3px;
  }
</style>