<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
  <script src="/static/js/go.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/alpine.3.13.10.min.js"></script>
  <title>test2</title>
</head>
<body>    
  {{template "navbar"}}
    <div id="myDiagramDiv"></div>
 
</body>
</html>

<style>
  #myDiagramDiv {
    background-color: white;
    width: 90%;
    height: 100vh;
    margin: 10px auto;
  }
  #myDiagramDiv::before{
    content: "Chỗ này ghi chú hướng dẫn, tiêu đề vâng vâng và vâng vâng";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 180px;
    height: 80px;
    background: white;
    font-size: small;
    z-index: 10;
  }
</style>

<script id="code">
  function init() {
    myDiagram = new go.Diagram('myDiagramDiv',
      {
        initialAutoScale: go.AutoScale.Uniform,
        contentAlignment: go.Spot.Center,
        layout: new go.ForceDirectedLayout(
          { defaultElectricalCharge: 300, defaultSpringLength: 150 }
        ),
        'undoManager.isEnabled': true,
        'toolManager.mouseWheelBehavior': go.WheelMode.Zoom,
      }
    );

    // define each Node's appearance
    myDiagram.nodeTemplate = new go.Node("Vertical").add(
      new go.Panel("Horizontal").add(
        new go.Shape("Rectangle"),
        new go.TextBlock().bind("text", "text")
      ),
      new go.TextBlock("sdfsdf")
    )

    myDiagram.linkTemplate = new go.Link().add(
      new go.Shape({ stroke: 'black' }),
      new go.Shape({ toArrow: 'standard', stroke: null }),
      new go.Panel('Auto').add(
        new go.Shape({fill: new go.Brush('Radial', { 0: 'rgb(240, 240, 240)', 0.3: 'rgb(240, 240, 240)', 1: 'rgba(240, 240, 240, 0)' }), stroke: null,}),
        new go.TextBlock({textAlign: 'center', font: '12pt helvetica, arial, sans-serif', stroke: '#555555', margin: 4,})
          .bind("text", "text"),
      )
    )
    
    myDiagram.nodeTemplateMap.add('token', new go.Part({ locationSpot: go.Spot.Center, layerName: 'Foreground' })
      .add(
        new go.Shape('Circle', { width: 12, height: 12, fill: 'green', strokeWidth: 0 })
          .bind('fill', 'color'),
      )
    );

    

    // create the model
    var nodeDataArray = [
      { key: 1, text: 'Cutting' , sub: "skdfh"},
      { key: 2, text: 'Lamination' },
      { key: 3, text: 'Reeded Line' },
    ];
    var linkDataArray = [
      { from: 1, to: 2, text: 'check' },
      { from: 2, to: 3, text: 'delivery' },
    ];
    myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);

    // initTokens();
  }

  function initTokens() {
    var oldskips = myDiagram.skipsUndoManager;
    myDiagram.skipsUndoManager = true;
    myDiagram.model.addNodeDataCollection([
      { category: 'token', at: 1, color: 'green' },
      { category: 'token', at: 2, color: 'blue' },
      { category: 'token', at: 4, color: 'yellow' },
      { category: 'token', at: 5, color: 'purple' },
      { category: 'token', at: 7, color: 'red' },
      { category: 'token', at: 8, color: 'black' },
      { category: 'token', at: 9, color: 'green' },
      { category: 'token', at: 11, color: 'blue' },
      { category: 'token', at: 12, color: 'yellow' },
      { category: 'token', at: 17, color: 'purple' },
      { category: 'token', at: 18, color: 'red' },
    ]);
    myDiagram.skipsUndoManager = oldskips;
    window.requestAnimationFrame(updateTokens);
  }

  function updateTokens() {
    var oldskips = myDiagram.skipsUndoManager;
    myDiagram.skipsUndoManager = true;
    var temp = new go.Point();
    myDiagram.parts.each((token) => {
      var data = token.data;
      if (!data) return;
      var at = data.at;
      if (at === undefined) return;
      var fromNode = myDiagram.findNodeForKey(at);
      if (fromNode === null) return;
      var frac = data.frac;
      if (frac === undefined) frac = 0.0;
      var next = data.next;
      var toNode = myDiagram.findNodeForKey(next);
      if (toNode === null) {
        // nowhere to go?
        positionTokenAtNode(token, from); // temporarily stay at the current node
        data.next = chooseDestination(token, from); // and decide where to go next
      } else {
        // proceed toward the "to" port
        var link = from.findLinksTo(to).first();
        if (link !== null) {
          token.location = link.path.getDocumentPoint(link.path.geometry.getPointAlongPath(frac, temp));
        } else {
          // stay at the current node
          positionTokenAtNode(token, from);
        }
        if (frac >= 1.0) {
          // if beyond the end, it's "AT" the NEXT node
          data.frac = 0.0;
          data.at = next;
          data.next = undefined; // don't know where to go next
        } else {
          // otherwise, move fractionally closer to the NEXT node
          data.frac = frac + 0.01;
        }
      }
    });
    myDiagram.skipsUndoManager = oldskips;
    window.requestAnimationFrame(updateTokens);
  }

  // determine where to position a token when it is resting at a node
  function positionTokenAtNode(token, node) {
    // these details depend on the node template
    token.location = node.position.copy().offset(4 + 6, 5 + 6);
  }

  function chooseDestination(token, node) {
    var dests = new go.List().addAll(node.findNodesOutOf());
    if (dests.count > 0) {
      var dest = dests.elt(Math.floor(Math.random() * dests.count));
      return dest.data.key;
    }
    var arr = myDiagram.model.nodeDataArray;
    // choose a random next data object that is not a token and is not the current Node
    var data = null;
    while (((data = arr[Math.floor(Math.random() * arr.length)]), data.category === 'token' || data === node.data)) {}
    return data.key;
  }
  window.addEventListener('DOMContentLoaded', init);
</script>