<table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
  <thead class="ltr:text-left rtl:text-right">
    <tr>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">MSNV</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Họ & Tên</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Bộ Phận</th>
    </tr>
  </thead>

  <tbody class="divide-y divide-gray-200">
    {{range .employees}}
    <tr @click="empid='{{.Id}}'; name='{{.Name}}'; section='{{.Section}}'"
      hx-get="/character/score/b/{{.Id}}" hx-target="#empContainer" hx-swap="outerHTML" class="hover:bg-neutral-100 cursor-pointer">
      <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{.Id}}</td>
      <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{.Name}}</td>
      <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{.Section}}</td>
    {{end}}
    </tr>
  </tbody>
</table>