{{ define "navbar" }}
<div x-data="{
    open: false,
    slideOverOpen: false,
}" 
    class="bg-white border rounded-md text-neutral-700 border-neutral-200/80">
    <div class="container mx-auto flex flex-1 justify-between items-center p-1 ">
        <!-- <div class="text-neutral-700 font-bold text-xl">Logo</div> -->

        <button class="text-gray-500 w-10 h-10 relative focus:outline-none bg-white" @click="slideOverOpen=true, open=!open">
            <span class="sr-only">Open main menu</span>
            <div class="block w-5 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
                <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'opacity-0': open } "></span>
                <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
            </div>
        </button>
        
        <template x-teleport="body">
            <div 
                x-show="slideOverOpen"
                @keydown.window.escape="slideOverOpen=false, open=!open"
                class="relative z-[99]">
                <div x-show="slideOverOpen" x-transition.opacity.duration.600ms @click="slideOverOpen = false" class="fixed inset-0 bg-black bg-opacity-10"></div>
                <div class="fixed inset-0 overflow-hidden">
                    <div class="absolute inset-0 overflow-hidden">
                        <div class="fixed inset-y-0 right-0 flex max-w-full pl-10">
                            <div 
                                x-show="slideOverOpen" 
                                @click.away="slideOverOpen = false, open=!open"
                                x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700" 
                                x-transition:enter-start="translate-x-full" 
                                x-transition:enter-end="translate-x-0" 
                                x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700" 
                                x-transition:leave-start="translate-x-0" 
                                x-transition:leave-end="translate-x-full" 
                                class="w-screen max-w-full">
                                <div class="flex flex-col h-full py-5 overflow-y-scroll bg-white border-l shadow-lg border-neutral-100/70">
                                    <div class="px-4 sm:px-5">
                                        <div class="flex items-start justify-between pb-1">
                                            <h2 class="text-base font-semibold leading-6 text-gray-900" id="slide-over-title">Full-screen Slide Over Title</h2>
                                            <div class="flex items-center h-auto ml-3">
                                                <button @click="slideOverOpen=false, open=!open" class="absolute top-0 right-0 z-30 flex items-center justify-center px-3 py-2 mt-4 mr-5 space-x-1 text-xs font-medium uppercase border rounded-md border-neutral-200 text-neutral-600 hover:bg-neutral-100">
                                                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path></svg>
                                                    <span>Close</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="relative flex-1 px-4 mt-5 sm:px-5">
                                        <div class="absolute inset-0 px-4 sm:px-5">
                                            <div class="relative h-full overflow-hidden border border-dashed rounded-md border-neutral-300">
                                                Placeholder for slider
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <div class="hidden lg:flex">
            <ul class="lg:flex space-x-4">
                <li><a class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md hover:text-neutral-900 focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-neutral-100 group w-max" 
                    href="/dashboard">Dashboard</a></li>
                <li><a class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md hover:text-neutral-900 focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-neutral-100 group w-max" 
                    href="/test">Test</a></li>
                <li><a class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md hover:text-neutral-900 focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-neutral-100 group w-max" 
                    href="/login">Login</a></li>
                <li><a class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-md hover:text-neutral-900 focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-neutral-100 group w-max" 
                    href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    
    
</div>
{{ end }}