<div class="container max-w-lg py-32 mx-auto sm:mx-4 mt-px text-left sm:max-w-md md:max-w-lg sm:px-4 md:text-center">
  <div class="container w-full py-4 max-w-xs mx-auto">
    
    <input hx-post="/character/score/c/{{.empId}}" hx-target="#criresult" hx-trigger="input changed delay:500ms, search"
      name="crisearch" type="text" placeholder="Tìm kiếm và chọn tiêu chí chấm điểm" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md border-neutral-300 ring-offset-background placeholder:text-neutral-500 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50" />
  
  </div>
  
  <div class="container w-full py-4 max-w-xs mx-auto">
    
    <input id="issuedate" name="issuedate" type="date" @change="issdate=$el.value"
      class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md border-neutral-300 ring-offset-background placeholder:text-neutral-500 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50" />
  
  </div>

  <div id="criresult" class="overflow-x-auto">
    
    <h1 x-data="{
      startingAnimation: { opacity: 0, y: 50, rotation: '25deg' },
      endingAnimation: { opacity: 1, y: 0, rotation: '0deg', stagger: 0.02, duration: 0.7, ease: 'back' },
      addCNDScript: true,
      splitCharactersIntoSpans(element) {
          text = element.innerHTML;
          modifiedHTML = [];
          for (var i = 0; i < text.length; i++) {
              attributes = '';
              if(text[i].trim()){ attributes = 'class=\'inline-block\''; }
              modifiedHTML.push('<span ' + attributes + '>' + text[i] + '</span>');
          }
          element.innerHTML = modifiedHTML.join('');
      },
  
      addScriptToHead(url) {
          script = document.createElement('script');
          script.src = url;
          document.head.appendChild(script);
      },
      animateText() {
          $el.classList.remove('invisible');
          gsap.fromTo($el.children, this.startingAnimation, this.endingAnimation);
      }
    }"
    x-init="
      splitCharactersIntoSpans($el);
      gsapInterval2 = setInterval(function(){
          if(typeof gsap !== 'undefined'){
              animateText();
              clearInterval(gsapInterval2);
          }
      }, 5);
    "
    class="invisible block pb-0.5 overflow-hidden text-3xl font-bold custom-font"
      >Lịch sử 10 lần ghi nhận gần đây</h1>

    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead class="ltr:text-left rtl:text-right">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Tiêu chí</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Ngày xảy ra</th>
        </tr>
      </thead>
    
      <tbody class="divide-y divide-gray-200">
        {{range .recentEvals}}
        <tr>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{.Descr}}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{.IssDate}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>

</div>

<script>
  document.getElementById("issuedate").valueAsDate = new Date();
</script>